<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
</head>
<body>
<div class="container">
    <div th:insert="general-pages/menu :: menu"></div>

    <div class="content-section">
        <div class="content-section-center">
            <div class="text-center fs-5 fw-semibold">An unexpected error occurred during the request!</div>
            <div class="d-flex align-items-center justify-content-center my-3">
                <a th:href="@{product-management}" class="btn btn-sm btn-outline-warning px-4">Back</a>
            </div>
        </div>
    </div>

    <div th:insert="general-pages/footer :: footer"></div>
</div>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>