<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product management</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
</head>
<body>
<div class="container">
    <header th:insert="~{general-pages/menu :: menu}"></header>
    <div class="content-section my-3">
        <nav>
            <div class="nav nav-tabs justify-content-center ms-3" id="nav-tab" role="tablist">
                <button class="nav-link link-body-emphasis" id="nav-category-tab" data-bs-toggle="tab" data-bs-target="#nav-category"
                        type="button" role="tab">Categories</button>
                <button class="nav-link link-body-emphasis" id="nav-product-tab" data-bs-toggle="tab" data-bs-target="#nav-product"
                        type="button" role="tab">Goods</button>
                <button class="nav-link link-body-emphasis" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images"
                        type="button" role="tab">Images</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab" tabindex="0">
                <div class="d-flex align-items-center justify-content-center my-3 px-4">
                    <form method="post" action="/admin-panel/add-category" enctype="multipart/form-data" class="w-75">
                        <div class="row">
                            <div class="col">
                                <input th:type="text" th:name="categoryName" class="form-control form-control-sm" aria-label="category name"
                                       placeholder="Enter category name">
                            </div>
                            <div class="col">
                                <input th:type="file" th:name="image" class="form-control form-control-sm" aria-label="select an image"
                                       placeholder="select an image">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-sm btn-outline-success px-4">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="card px-3 card-min-w">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-center">Category</th>
                                <th scope="col">Image</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody th:each="category, stat : ${categories}">
                            <tr>
                                <th scope="row" th:text="${stat.count}"></th>
                                <td th:text="${category.getCategoryName()}" class="text-center"></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-success px-3" data-bs-toggle="modal"
                                            th:data-bs-target="'#imageModal' + ${category.getId()}">Show</button>

                                    <div class="modal fade" th:id="'imageModal' + ${category.getId()}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <img th:src="@{/admin-panel/category-image/{id}(id=${category.getId()})}"
                                                             th:alt="${category.getImage()}" class="w-75"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a th:href="@{'/admin-panel/edit/category/' + ${category.getId()}}" class="btn btn-sm btn-outline-secondary px-3 me-2">Edit</a>
                                    <a href="#" class="btn btn-sm btn-outline-danger px-3 ">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab" tabindex="0">
                <div class="my-3 px-4">
                    <form method="post" action="/admin-panel/add-product">
                        <div class="row row-cols-2">
                            <div class="col mb-3">
                                <input th:type="text" th:name="productName" class="form-control form-control-sm"
                                       placeholder="Enter product name" aria-label="Enter product name" required>
                            </div>
                            <div class="col mb-3">
                                <input th:type="number" th:name="price" class="form-control form-control-sm" min="1" step="0.01"
                                       placeholder="Enter product price" aria-label="Enter product price" required>
                            </div>
                            <div class="col mb-3">
                                <input th:type="text" th:name="brand" class="form-control form-control-sm"
                                       placeholder="Enter brand name" aria-label="Enter brand name" required>
                            </div>
                            <div class="col mb-3">
                                <select th:name="categoryId" class="form-select form-select-sm" aria-label="Select a category" required>
                                    <option hidden="hidden" disabled selected>Select a category</option>
                                    <option th:each="ct : ${categories}" th:value="${ct.getId()}" th:text="${ct.getCategoryName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <textarea th:name="description" class="form-control form-control-sm tx-resize"
                                          aria-label="Enter description" placeholder="Enter description"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <div class="d-flex align-items-center justify-content-end">
                                    <button type="submit" class="btn btn-sm btn-outline-success px-4">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:each="product, stat : ${goods}">
                    <tr>
                        <th scope="row" th:text="${stat.count}"></th>
                        <td th:text="${product.getCategories().getCategoryName()}"></td>
                        <td th:text="${product.getProductName()}"></td>
                        <td th:text="${product.getBrand()}"></td>
                        <td th:text="${product.getPrice()}"></td>
                        <td>
                            <a th:href="@{'/admin-panel/edit/product/' + ${product.getId()}}" class="btn btn-sm btn-outline-secondary px-3 my-1">Edit</a>
                            <a href="#" class="btn btn-sm btn-outline-danger px-3 my-1">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab" tabindex="0">
                <div class="my-3 px-4">
                    <form action="/admin-panel/add-image" method="post" enctype="multipart/form-data">
                        <div class="row row-cols-2">
                            <div class="col mb-3">
                                <input th:type="file" th:name="image" class="form-control form-control-sm"
                                       aria-label="Select an image" placeholder="Select an image">
                            </div>
                            <div class="col mb-3">
                                <input th:type="text" th:name="imageName" class="form-control form-control-sm"
                                       placeholder="Enter image name" aria-label="Enter image name">
                            </div>
                            <div class="col mb-3">
                                <select th:name="goodsId" class="form-control form-control-sm" aria-label="Select product Id" required>
                                    <option hidden="hidden" disabled selected>Select product</option>
                                    <option th:each="product: ${goods}" th:value="${product.getId()}"
                                            th:text="${product.getProductName()}"></option>
                                </select>
                            </div>
                            <div class="col mb-3">
                                <div class="form-check form-check-inline">
                                    <label for="isMain" class="form-check-label">Main image</label>
                                    <input th:type="checkbox" th:name="isMainImage" class="form-check-input" id="isMain">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex align-items-center justify-content-end">
                                    <button type="submit" class="btn btn-sm btn-outline-success px-4">Add</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Image</th>
                        <th scope="col">Image name</th>
                        <th scope="col">Product name</th>
                        <th scope="col">is Main</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:each="img, stat : ${images}">
                    <tr>
                        <th scope="row" th:text="${stat.count}"></th>

                        <td class="w-25">
                            <img th:src="@{/admin-panel/image/{id}(id=${img.getId()})}" th:alt="${img.getImageName()}" class="w-25"/>
                        </td>

                        <td th:text="${img.getImageName()}"></td>

                        <td th:text="${img.getGoods().getProductName()}"></td>

                        <td>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="check">Main image</label>
                                <input type="checkbox" th:checked="${img.isMainImage()}" id="check" class="form-check-input">
                            </div>
                        </td>

                        <td>
                            <a th:href="@{'/admin-panel/edit/image' + ${img.getId()}}" class="btn btn-sm btn-outline-secondary px-3 my-1">Edit</a>
                            <a href="#" class="btn btn-sm btn-outline-danger px-3 my-1">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <footer th:insert="~{general-pages/footer :: footer}"></footer>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>