<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product management</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
</head>
<body>
<div class="container">
    <header th:insert="~{general-pages/menu :: menu}"></header>
    <div class="content-section">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" id="nav-category-tab" data-bs-toggle="tab" data-bs-target="#nav-category"
                        type="button" role="tab">Categories</button>
                <button class="nav-link" id="nav-product-tab" data-bs-toggle="tab" data-bs-target="#nav-product"
                        type="button" role="tab">Goods</button>
                <button class="nav-link" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images"
                        type="button" role="tab">Images</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab" tabindex="0">

            </div>
            <div class="tab-pane fade" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab" tabindex="0">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody th:each="product, stat : ${goods}">
                    <tr>
                        <th scope="row" th:text="${stat.count}"></th>
                        <td th:text="${product.getCategories()}"></td>
                        <td th:text="${product.getProductName()}"></td>
                        <td th:text="${product.getBrand()}"></td>
                        <td th:text="${product.getPrice()}"></td>
                        <td>
                            <a href="#" class="btn btn-sm btn-outline-success px-3 my-2">Edit</a>
                            <a href="#" class="btn btn-sm btn-outline-success px-3 my-2">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab" tabindex="0">

            </div>
        </div>

    </div>
    <footer th:insert="~{general-pages/footer :: footer}"></footer>
</div>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>