.content-section {
    position: relative;
    min-height: 85dvh;
}

.content-section-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-min-w {
    min-width: 350px !important;
}

.container {
    min-width: 680px !important;
}

.tx-resize {
    resize: none !important;
}