.content-section {
    position: relative;
    min-height: 85dvh;
}

.img-container {
    background-image: url("../images/img_start_v4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85dvh;
    margin: 0;
    padding: 0;
}

.content-section-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-min-w {
    min-width: 350px !important;
}

.card-login-w {
    min-width: 15dvw !important;
}

.row-categories-w {
    min-height: 30dvh !important;
    min-width: 60dvw !important;
}

.container {
    min-width: 680px !important;
}

.tx-resize {
    resize: none !important;
}

#userPhone:user-invalid {
    border-color: red !important;
}

#userPhone:valid {
    border-color: green !important;
}

.text-gr {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}

.main-text-gr {
    background-image: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    filter: drop-shadow(1px 1px 3px rgba(75, 108, 183, 0.7));
}

.bg-main-menu {
    background: #002244 !important;
    border-radius: 0 0 15px 15px;
}

.dropdown-cs-menu {
    background: #002244 !important;
}
.dropdown-item:hover {
    background: rgba(0, 60, 121, 0.96) !important;
    border-color: whitesmoke !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}