<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basket</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
</head>
<body>
<div class="container">
    <header th:insert="~{general-pages/menu :: menu}"></header>
    <div class="content-section">
        <div th:if="${basket}">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Product name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${basket.getGoodsList()}" th:each="item, stat : ${basket.getGoodsList()}">
                    <th scope="row" th:text="${stat.count}"></th>
                    <td>
                        <img th:src="@{/product/image/{id}(id=${item.getGoods().getId()})}" th:alt="${item.getGoods().getProductName()}">
                    </td>
                    <td th:text="${item.getGoods().getProductName()}"></td>
                    <td>
                        <div class="row">
                            <div class="col text-center">
                                <a th:href="@{'/basket/up/'+ ${item.getGoods().getId()} + '/ProductDOWN'}"
                                   class="btn btn-sm btn-outline-warning">-</a>
                            </div>
                            <div class="col text-center" th:text="${item.getQuantity()}"></div>
                            <div class="col text-center">
                                <a th:href="@{'/basket/up/'+ ${item.getGoods().getId()} + '/ProductUP'}"
                                   class="btn btn-sm btn-outline-warning">+</a>
                            </div>
                        </div>
                    </td>
                    <td th:text="${item.getFinalPrice()}"></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div th:unless="${basket}">
            <div class="content-section-center">
                <div class="text-center display-5 fw-semibold mb-4">
                    The basket is empty. Let's buy something
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <a th:href="@{/categories}" class="btn btn-outline-success px-4">GO</a>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{general-pages/footer :: footer}"></footer>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>