<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goods</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
</head>
<body>
<div class="container">
    <header th:insert="~{general-pages/menu :: menu}"></header>
    <div class="content-section">
        <div class="d-flex align-items-center justify-content-around my-3" th:each="product : ${goods}">
            <div class="product-container">
                <div class="product-container-title" th:text="${product.getProductName()}">
                    <div class="text-center fs-5 fw-semibold"></div>
                </div>
                <div class="product-container-image">
                    <img th:src="@{/product/image/{id}(id=${product.getId()})}" th:alt="${product.getProductName()}">
                </div>

                <div class="product-container-info">
                    <span class="fw-semibold me-1">Price:</span>
                    <span class="fw-semibold" th:text="${product.getPrice()}"></span>
                </div>
                <div class="product-container-footer">
                    <a th:href="@{/product/details/{id}(id=${product.getId()})}"
                       class="btn btn-sm btn-outline-secondary me-2">Details</a>
                    <!--Update to form-->
                    <a th:href="@{/basket/{productId}(productId=${product.getId()})}" class="btn btn-sm btn-outline-danger px-4">Buy</a>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{general-pages/footer :: footer}"></footer>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>